/vendor/
node_modules/

# Logs & debug
npm-debug.log
yarn-error.log
*.log

# Laravel 4 legacy
bootstrap/compiled.php
app/storage/

# Laravel 5+
public/storage
public/hot

# When public path is changed
public_html/storage
public_html/hot

# Sensitive files
.env
.env.*
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
auth.json

# Laravel storage
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/pail

# Public uploads (optional)
public/uploads/*
public/storage/*

# Build folder
/public/build
temp_extract.txt
public/u514386575_pocketthrift_pages.sql
